{{template "admin/inc/ui.html" .}}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
         <small>欢迎使用blog</small>
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                系统状态
            </div>
            <div class="panel-body" style="height: 340px;">
                <table class="table table-bordered">
                    <tr>
                        <td>内存消耗:</td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px;">操作系统:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width:120px;">JDK版本:</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
